<div class="embed-responsive embed-responsive-16by9">
  <youtube-video class="embed-responsive-item" video-id="theBestVideo" player-vars="playerVars"></youtube-video>
</div>
<div class="container-fluid">
	<p class="video-title">{{array.snippet.title}}</p>
	<a href="https://www.youtube.com/user/{{array.snippet.channelTitle}}" target="_blank" class="video-title">{{array.snippet.channelTitle}}</a>
	<p class="video-title">{{array.snippet.description}}</p>
	<p class="video-title">{{array.snippet.publishedAt}}</p>
</div>